<h1 class="text-center mt-4">Listing all categories</h1>

<div class="flickr_pagination">
  <%= will_paginate @categories, :container => false %>
</div>

<div class="container">
  <% @categories.each do |category| %>
    <div class="row justify-content-center">
      <div class="col-8 mt-1">
        <div class="card text-center shadow mb-1 bg-white rounded">
          <div class="card-header font-italic">
            <%= link_to category.name, category %>
          </div>
          <small><%= pluralize(category.articles.count, "article") %></small>

          <div class="card-footer text-muted">
            <small>
              Created <%= time_ago_in_words(category.created_at) %> ago,
            </small>
          </div>

        </div>
      </div>
    </div>
  <% end %>

</div>
<div class="flickr_pagination my-2">
  <%= will_paginate @categories, :container => false %>
</div>
