<h1 class="text-center mt-4"><%= "Category: " + @category.name %></h1>

  <% if logged_in? and current_user.admin? %>
    <div class="row my-3 justify-content-center">
      <span class="badge">
        <%= link_to "edit Category name", edit_category_path(@category) %>
      </span>
    </div>
  <% end %>

<div class="flickr_pagination mb-3">
  <%= will_paginate @category_articles, :container => false %>
</div>
<%= render 'articles/article', obj: @category_articles %>
<div class="flickr_pagination my-3">
  <%= will_paginate @category_articles, :container => false %>
</div>
